/** @format */

.btn-send {
	background-color: #f47522;
	color: #fff;
}
.btn-send:hover > .send-mail {
	display: none;
}
.btn-send:hover > .send-mail-hover {
	display: inline !important;
}
.btn-send:hover {
	background-color: #fff;
	color: #f47522;
}

@media (max-width: 576px) {
	.form-container {
		height: 120vh !important;
	}
}
