/** @format */
main {
	padding: 13vh 0;
}
.main-desc h4 {
	font-size: 1.6rem;
	font-family: "Muli";
	font-weight: bold;
	color: var(--main-color);
}

.main-desc h1 {
	font-size: 3.45rem;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	color: var(--main-color);
}

.main-desc > p {
	font-size: 1.1rem;
	font-family: "Muli";
	font-weight: bold;
	color: var(--main-color);
}

.team-button {
	background-color: var(--secondary-color);
	color: #fff;
	width: 40%;
	transition: all 0.3s linear;
}
.team-button:hover {
	background-color: #fff;
	color: var(--secondary-color);
}
.sport2 {
	display: none;
}
.team-button {
	width: 20vw;
}
.team-button > p {
	font-family: "Muli", sans-serif;
	font-weight: bold;
}
.team-button:hover > .sport1 {
	display: none;
}
.team-button:hover > .sport2 {
	display: inline;
}

.icon-skills {
	background-color: var(--secondary-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.skill-desc h3 {
	font-family: "Roboto", sans-serif;
	font-size: 1.2rem;
	color: var(--main-color);
	font-weight: bold;
}
.skill-desc p {
	font-family: "Muli", sans-serif;
	font-size: 1rem;
	color: var(--main-color);
}

.skill-mid {
	border-left: 1px solid rgb(230, 230, 230);
	border-right: 1px solid rgb(230, 230, 230);
}

.hero {
	background-image: linear-gradient(rgba(0, 29, 123, 0.353), rgba(0, 29, 123, 0.353)), url(/assets/bg-people@2x.png);
	width: 100%;
	height: 70vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-text-container h1 {
	font-family: "Muli";
	font-size: 3.2rem;
	font-weight: bold;
}
.hero-text-container p {
	font-family: "Muli";
	font-size: 1rem;
	font-weight: bold;
}

section > .container-fluid {
	background-image: url(/assets/ornament_batik.png);
	background-size: 200px;
	background-repeat: no-repeat;
}

.box {
	position: relative;
	width: 250px;
	height: 300px;
}
.box img {
	height: 100%;
	width: 100%;
	position: absolute;
	object-fit: cover;
}

.box-outer-orange {
	width: 250px;
	height: 300px;
	position: absolute;
	border: 9px solid var(--secondary-color);
	background-color: none;
	top: 15px;
	right: 15px;
}
.box-outer-blue {
	width: 250px;
	height: 300px;
	position: absolute;
	border: 9px solid var(--main-color);
	background-color: none;
	top: 15px;
	right: 15px;
}

.profile-name h3 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	color: var(--secondary-color);
	font-size: 1.5rem;
}
.profile-name p {
	font-family: "Poppins", sans-serif;
	font-size: 1.2rem;
	color: var(--main-color);
}
.profile-link a {
	transition: all 0.3s linear;
	font-family: "Muli", sans-serif;
	color: var(--main-color);
}
.profile-link a:hover {
	color: var(--secondary-color);
}

.card-title {
	font-family: "Roboto", sans-serif;
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--main-color);
}
.card-subtitle {
	font-family: "Poppins", sans-serif;
	font-size: 0.9rem;
}
.card-text {
	font-family: "Poppins", sans-serif;
	font-size: 0.9rem;
	color: var(--main-color);
}
.card-link {
	font-family: "Poppins", sans-serif;
	transition: all 0.3s linear;
}
.card-link:hover {
	color: var(--secondary-color);
}

@media (max-width: 992px) {
	.team-button {
		width: 50vw;
	}

	.skill-container {
		border-radius: unset !important;
		border: 1px solid rgb(230, 230, 230);
		margin-top: 8vh;
	}
	.skill-container .row {
		padding: 0 !important;
	}
	.skill-mid {
		border-left: 0;
		border-right: 0;
		border-top: 1px solid rgb(230, 230, 230);
		border-bottom: 1px solid rgb(230, 230, 230);
		padding-top: 3vh;
	}
	.skill-list {
		justify-content: left !important;
		padding-left: 5vw;
	}
	.skill-list:nth-child(1) {
		padding-top: 3vh;
	}
	.skill-list:nth-child(3) {
		padding-top: 3vh;
	}
	.skill-list:hover {
		background-color: rgb(230, 230, 230);
	}

	.main-img-container {
		text-align: center;
		margin-top: 5vh;
	}
	.main-img-container img {
		width: 400px;
		height: 400px;
	}
	.main-desc {
		margin-top: 10vh;
		margin-bottom: 5vh;
	}
	.hero-text-container h1 {
		font-size: 1.8rem;
	}

	.profile-middle {
		margin: 48px 0;
	}
}

@media (max-width: 576px) {
	.team-button {
		width: 85vw;
	}
	.team-button p {
		font-size: 1rem;
	}
	.sport1,
	.sport2 {
		width: 20px;
		height: 20px;
	}

	.main-img-container img {
		height: 250px;
		width: 250px;
	}

	.hero-text-container {
		width: 90% !important;
	}
	.hero-text-container h1 {
		font-size: 1.3rem;
		margin-bottom: 5vh;
	}
	.hero-text-container p {
		font-size: 0.7rem;
	}
}
